<div class="card pb-3">
  <router-outlet></router-outlet>
</div>
<div class="card pb-3">
  <p-menubar [model]="items"></p-menubar>
</div>
<div class="card flex justify-content-center">
  <p-button label="Submit"></p-button>
</div>
<div class="card flex justify-content-center">
  <button pButton pRipple label="Submit" class="p-button-success"></button>
</div>


<div class="card flex justify-content-center">
  <p-calendar [(ngModel)]="date"></p-calendar>
</div>

<div class="card flex justify-content-center">
  <p-calendar (onSelect)="onDatesRangeFilterSelected($event)" #dateFilter [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"></p-calendar>
</div>

<div class="card">
  <form [formGroup]="formGroup">
    <p-editor formControlName="text_2" [style]="{ height: '320px' }"></p-editor>
  </form>
</div>
<div class="card">
  <p-editor [(ngModel)]="text" [style]="{ height: '320px' }"></p-editor>
</div>

<div class="card flex justify-content-center">
  {{text}}
</div>

<div class="card mt-4 flex justify-content-center">
  <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
    </ng-template>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
      quas!
    </p>
    <ng-template pTemplate="footer">
      <p-button label="Save" icon="pi pi-check"></p-button>
      <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
    </ng-template>
  </p-card>
</div>
